<?xml version="1.0"?>

<launch>
  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>


  <group ns="$(arg robot_namespace)">
    <include file="$(find tugbot_base)/launch/tugbot_control.launch" />
    <include file="$(find tugbot_ekf_localization)/launch/tugbot_localization.launch"/>

    <node name="spawn_tugbot_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />

  </group>
</launch>
